<section class="hero is-bold is-info">
  <section class="section">
    <div class="container">
      <div class="content has-text-centered">
        <span class="is-pulled-left"
          >Handcrafted with
          <span class="icon has-text-danger">
            <fa-icon [icon]="faHeart" size="lg"></fa-icon>
          </span>
          by Justin Tillman using
          <a href="https://angular.io/"
            ><figure class="image is-32x32 is-marginless">
              <img src="assets/logos/angular.png" /></figure
          ></a>
          and
          <a href="https://firebase.google.com/"
            ><figure class="image is-32x32 is-marginless">
              <img src="assets/logos/firebase.png" /></figure
          ></a>
        </span>
        <span class="is-pulled-right">
          <a href="https://bulma.io">
            <img src="assets/made-with-bulma.png" alt="Made with Bulma" width="256" height="48" />
          </a>
        </span>
      </div>
    </div>
  </section>
</section>
