<p>
  Born and raised in Columbus, OH, I am a Buckeye for life. Being a problem solver and critical
  thinker, I love to challenge myself and am always trying to find something new to learn.
</p>
<br />
<ul>
  <li>
    <strong>Name:</strong>
    <br />
    <span>Justin Tillman</span>
  </li>
  <li>
    <strong>Born:</strong>
    <br />
    <span>December 12, 1990 in Columbus, OH</span>
  </li>
  <li>
    <strong>Current Position:</strong>
    <br />
    <span>Application Developer in Retirement Plans IT at Nationwide Insurance</span>
  </li>
  <li>
    <strong>Education:</strong>
    <br />
    <span>Ohio State University, BS in Computer Science</span>
  </li>
  <li>
    <strong>Preferred development tools:</strong>
    <br />
    <span>Visual Studio Code, GitHub, CircleCI</span>
  </li>
  <li>
    <strong>Currently learning:</strong>
    <br />
    <learning-item
      [name]="item.name"
      [imagePath]="item.imagePath"
      *ngFor="let item of currentlyLearning"
    ></learning-item>
    <!-- TODO: add label for level (expert, novice, etc), maybe pluralsight rating too -->
  </li>
</ul>
<br />

<!-- TODO -->
<!-- pluralsight/udemy courses and ratings -->
