<p>
  I am a professional web developer with 5 years experience in the industry. My passion is for
  building creative applications and interfaces that users will love. Being a full-stack developer,
  I enjoy workign with front-end, back-end and database code but will always have a soft spot in my
  heart for JavaScript.
</p>
<br />
<skill-area
  *ngFor="let skillArea of skillAreas; let i = index"
  [name]="skillArea.name"
  [skills]="skillArea.skills"
  [visible]="skillArea.visible"
  (clicked)="setVisibility(i)"
></skill-area>
