<section class="hero is-bold is-light">
  <section class="section">
    <div class="container">
      <h1 class="title is-3 is-uppercase has-text-centered">ABOUT ME</h1>
      <div class="columns">
        <div class="column is-half">
          <h1 class="title is-4 is-uppercase has-text-centered">Profile</h1>
          <profile></profile>
        </div>
        <div class="column is-half">
          <h1 class="title is-4 is-uppercase has-text-centered">Skills</h1>
          <skills></skills>
        </div>
      </div>
    </div>
  </section>
</section>
