<section class="hero is-bold is-light">
  <div *ngIf="showNav">
    <navbar></navbar>
  </div>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          <h1 class="title is-4 is-uppercase has-text-centered">Profile</h1>
        </div>
        <div class="column is-6">
          <h1 class="title is-4 is-uppercase has-text-centered">Skills</h1>
          <skills></skills>
        </div>
      </div>
    </div>
  </section>
</section>
