<section class="hero is-bold is-light">
  <section class="section">
    <div class="container">
      <h1 class="title is-4 is-uppercase has-text-centered">Projects</h1>

      <div class="columns is-multiline is-variable is-6 is-centered">
        <div class="column is-4" *ngFor="let project of projects">
          <project
            [name]="project.name"
            [image]="project.image"
            [repository]="project.repository"
            [url]="project.url"
            [summary]="project.summary"
            [tags]="project.tags"
          ></project>
        </div>
      </div>
    </div>
  </section>
</section>
