<section class="hero is-bold is-light">
  <section class="section">
    <div class="container has-text-centered">
      <h1 class="title is-3 is-uppercase">CONTACT</h1>
      <p class="is-size-5">
        Want to collaborate on a project or just want to chat technology? I'd love for you to get in
        touch!
      </p>
      <a
        href="https://www.linkedin.com/in/justin-tillman-5403a9148/"
        target="_blank"
        title="LinkedIn"
      >
        <span class="icon has-text-info">
          <fa-icon [icon]="faLinkedinIn" size="3x"></fa-icon>
        </span>
      </a>
      <a href="https://github.com/JTillman10/" target="_blank" title="Github">
        <span class="icon  has-text-info">
          <fa-icon [icon]="faGithub" size="3x"></fa-icon>
        </span>
      </a>
      <a href="mailto:tillman.55@osu.edu" target="_blank" title="Email">
        <span class="icon  has-text-info">
          <fa-icon [icon]="faEnvelope" size="3x"></fa-icon>
        </span>
      </a>
    </div>
  </section>
</section>
