<!-- Hello -->
<section-wrapper id="hello" [color]="'dark'" [showNav]="highestElement?.id === 'hello'"
  ><hello></hello
></section-wrapper>
<!-- <hello [showNav]="highestElement.id === 'hello'"></hello> -->
<!-- About/Profile -->
<!-- Skills -->
<section-wrapper id="skills" [color]="'light'" [showNav]="highestElement?.id === 'skills'"
  ><skills></skills
></section-wrapper>
<!-- <skills [showNav]="highestElement.id === 'skills'"></skills> -->
<!-- Project cards-->
<!-- Contact -->

<router-outlet></router-outlet>
