<!-- Hello -->
<!-- <section-wrapper id="hello" [color]="'dark'" [showNav]="highestElement?.id === 'hello'"
  ><hello></hello
></section-wrapper> -->
<hello id="hello" [showNav]="highestElement?.id === 'hello'"></hello>
<!-- About/Profile -->
<!-- Skills -->
<!-- <section-wrapper id="profile" [color]="'light'" [showNav]="highestElement?.id === 'about'"
  ><about></about
></section-wrapper> -->
<about id="about" [showNav]="highestElement?.id === 'about'"></about>
<!-- Project cards-->
<!-- Contact -->

<router-outlet></router-outlet>
