<div class="card grow">
  <div class="card-image">
    <figure class="image is-5by4">
      <img [src]="'assets/projects/' + image" />
      <div class="overlay column">
        <div class="content has-text-white">
          <p class="text is-size-5">
            {{ summary }}
          </p>
        </div>
        <div class="tags">
          <div class="tag is-light is-uppercase" *ngFor="let tag of tags">{{ tag }}</div>
        </div>
      </div>
    </figure>
  </div>
  <div class="card-header">
    <div class="card-header-title is-size-4 is-centered">{{ name }}</div>
  </div>
  <footer class="card-footer">
    <a
      [href]="'https://github.com/JTillman10/' + repository"
      target="_blank"
      class="card-footer-item"
      title="Source Code"
    >
      <span class="icon is-info">
        <fa-icon [icon]="faCode"></fa-icon>
      </span>
    </a>
    <a [href]="url" target="_blank" class="card-footer-item" title="View Website"
      ><span class="icon is-info"> <fa-icon [icon]="faEye"></fa-icon> </span
    ></a>
  </footer>
</div>
