<div class="card grow">
  <div class="card-image">
    <figure class="image">
      <img [src]="'assets/projects/' + image" />
    </figure>
  </div>
  <div class="card-header">
    <p class="card-header-title is-size-4 is-centered">{{ name }}</p>
  </div>
  <footer class="card-footer">
    <a
      [href]="'https://github.com/JTillman10/' + repository"
      target="_blank"
      class="card-footer-item"
      title="Source Code"
    >
      <span class="icon is-info">
        <fa-icon [icon]="faCode"></fa-icon>
      </span>
    </a>
    <a [href]="url" target="_blank" class="card-footer-item" title="View Website"
      ><span class="icon is-info"> <fa-icon [icon]="faEye"></fa-icon> </span
    ></a>
  </footer>
</div>
