.card-footer-item:not(.url-disabled) {
  &:hover {
    background-color: whitesmoke;
  }
}

.url-disabled {
  cursor: default;
}

.card {
  border-radius: 10px;
}

.card-image img {
  border-radius: 10px 10px 0 0;
}
